APP_NAME="تلفزيون فلسطين"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=palestine_tv
DB_USERNAME=postgres
DB_PASSWORD=

JWT_SECRET=
JWT_TTL=480

FILESYSTEM_DISK=public

CORS_ALLOWED_ORIGINS=http://localhost:3000

# Supabase Realtime
SUPABASE_URL=https://nwbjqslmhiwlkjelijrc.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im53Ympxc2xtaGl3bGtqZWxpanJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExNTk4NDAsImV4cCI6MjA5NjczNTg0MH0.LvGL2A4t4-yDw3OZSYoyTQndV06cvcWXdoN3RMvvzXc
SUPABASE_SERVICE_ROLE_KEY=
